<script id="ContentTemplate" type="text/template">
<div class="users form">

	<form class="form-signin" role="form" id="UserLoginForm" action="/" method="post" accept-charset="utf-8">
		<div style="display: none;">
			<input name="_method" type="hidden" value="POST">
		</div>
		<fieldset>
			<legend>Please enter your username and password</legend>
			<div class="input text required">
				<label for="UserUsername">Username</label>
				<input class="form-control" name="data[User][username]" id="UserUsername" required="required" type="text" maxlength="50">
			</div>
			<div class="input password required">
				<label for="UserPassword">Password</label>
				<input class="form-control" name="data[User][password]" id="UserPassword" required="required" type="password">
			</div>
		</fieldset>
		<div class="submit"><input class="btn btn-lg btn-primary btn-block" type="button" id="Login" value="Login"></div>
	</form>
</div>
</script>
