<script id="SearchViewTemplate" type="text/template">
	<input type="button" id="sub" value="sub" />
	<table>
	<tbody>
	<tr>
	<td><input type="button" id="add" value="add" /></td>
	<td><input type="button" id="addAjax" value="addAjax" /></td>
	</tr>
	<tr>
	<td><input type="button" id="edit" value="edit" /></td>
	<td><input type="button" id="editAjax" value="editAjax" /></td>
	</tr>
	<tr>
	<td><input type="button" id="delete" value="delete" /></td>
	<td><input type="button" id="deleteAjax" value="deleteAjax" /></td>
	</tr>
	<tr>
	<td><input type="button" id="view" value="view" />
	<td><input type="button" id="viewAjax" value="viewAjax" />
	</tr>
	<tr>
	<td><input type="button" id="index" value="index" />
	<td><input type="button" id="indexAjax" value="indexAjax" />
	</tr>
	</tbody>
	</table>
	<div id="eventName"></div>
	<table>
	<thead>
	</thead>
	<tbody id="body">
	</tbody>
	</table>
</script>
